<script src="/js/face-api.min.js"></script>
<script src="/js/main.js"></script>
<script src="/js/jquery-3.2.1.slim.min.js"></script>
<script src="/js/popper.min.js" ></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>