body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    width: calc(100% - 33px);
  }
  
  canvas {
    position: absolute;
  }
  .container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .result-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .result-container > div {
    font-size: 1.3rem;
    padding: 0.5rem;
    margin: 5px 0;
    color: white;
    text-transform: capitalize;
  }
  #age {
    background: #1e94be;
  }
  #emotion {
    background: #8a1025;
  }
  #gender {
    background: #62d8a5;
  }
  video {
    width: 100%;
  }
  header {
    background: #42a5f5;
    color: white;
    width: 100%;
    font-size: 2rem;
    padding: 1rem;
    font-size: 2rem;
  }