<%- include ('partials/header.ejs'); -%>

<header>Reconhecimento Facial Usando Javascript</header>
<div class="container">
  <video id="video" height="500" width="500" autoplay muted></video>
</div>
<div class="result-container">
  <div id="emotion">Emotion</div>
  <div id="gender">Gender</div>
  <div id="age">Age</div>
</div>


<%- include ('partials/footer.ejs'); -%>
